

    <!--<div class="close">
      <ion-icon name="close-outline" (click)="fecharmodal()"></ion-icon>
    </div>-->
    
    <div class="contentmodal">

      <div class="modal">

        <div class="conteudo">
          <p class="p1">
            Tem certeza de
            que quer deletar
            Maria Marcela?
          </p>
          <p class="p2">
            Essa escolha é permanente e você
            perderá os dados de Maria Marcela.
          </p>
        </div>

        <div class="btns">
          <button shape="round" class="btnsim" (click)="fecharmodal()">Não</button>
          <button shape="round" class="btnnao" (click)="deletar()">Sim</button>
        </div>

      </div>

</div>




